<!-- <%= @allgossips.times do |i, id|%> -->
<h1><%= Gossip.find(i+1).anonymous_gossiper %></h1>
<%= Gossip.find(i+1).title %></br>
<%= Gossip.find(i+1).content %></br>
<%= link_to "Editer", "/gossip/#{Gossip.find(i+1).id}/edit" %>
<!-- <% end %> -->
